@import 'src/styles/vars';

#clothcard {
  background-color: $brownish;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  border: 1px solid $brownish;
  justify-content: space-around;
  color: $main-color;
  font-family: $main-font;
  font-size: 1.2em;
  
}
