@import 'src/styles/vars';

#clothcard {
  position: relative;
  background-color: $brownish;
  margin-right: auto;
  margin-left: auto;
  //padding: 1em; 
  display: flex;
  flex-wrap: wrap;
  width: 30em;
  height: 16em;
  border: 4px solid #d18901;
  justify-content: space-around;
  align-items: center;
  color: $main-color;
  font-family: $main-font;
  font-size: 1.2em;
  margin-bottom: 1em;
  border-radius: 40px;

  img {
    max-width: 30%;
    max-height: 60%;
  }

  #clothcard-content {
    p {
      padding-bottom: .5em;
      width: 100%;
    }
    
  }

  #close-button {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #4a858f;
    color: $brownish;
    &:hover{
      background-color: #d18901;
      color: $brownish;
      text-decoration: none;
    }
  }

  .dyna {
    color: #d18901;
    display: flex;
    justify-content: center;
  }
  
}
