@import "./src/styles/vars";

$carousel-off: 1880px;

#about {
  background-color: #d18901;
  padding: 0 2em;
  height: auto;
  border-top: 5px solid #c5c8b3;
  @media screen and (min-width: $carousel-off) {
  height: 70em;
  
  }
  h2 {
    color: #f9c86b;
    font-family: $main-font;
    font-size: 2em;
    padding-top: 2em;
  }
}
.icon {
  margin: 1em;
  color: white;
}
p {
  width: 50%;
  margin: auto;
  padding-bottom: 2em;
  color: white;
}
.ant-carousel {
  width: 50%;
  margin: auto;
  border: 5px solid #f9c86b;
  @media screen and (max-width: $carousel-off) {
    display: none;
  }
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 398px;
  line-height: 160px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 img {
  width: 100%;
}


