@import "./src/styles/vars";

$break-small: 790px;

#welcome {
  height: 100vh;
  background-image: url('../../data/assets/main.jpg');
  @media screen and (max-height: $break-small) {
    height: 790px;
  }
  //background-color: $mustard;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  #logo {
    height: 25%;
    margin-top: 7em;
  }
  h1 {
    width: 100%;
    font-family: $main-font;
    font-size: 5em;
    margin: 0 auto;
  }
  h2 {
    font-size: 2em;
    margin: 0 auto;
  }
  
  #button {
    width: 100%;
    .log {
      height: 2em;
      margin: 0.5em 1em 0;
      background-color: $main-color;
      border-color: $main-color;
      font-family: $main-font;
      font-size: 2em;
      text-decoration: none;
      color: $brownish;
      position: static;

      &:hover {
        background-color: $brownish;
        color: $main-color;
      }
    }
    
    
  }
  .about {
    height: 2em;
    padding-top: 0.4em;
    background-color: $brownish;
    border-color: $brownish;
    color: $main-color;
    font-family: $main-font;
    font-size: 1.5em;
    text-decoration: none;
    margin: .5em auto;
    position: static;
    
    &:hover {
      background-color: $main-color;
      color: $brownish;
    }
  }
  
}

