@import 'src/styles/vars';

#add-outfit {
  background-image: url('../../data/assets/bckMain2.png');
  background-size: 100%;
  h1 {
    font-family: $main-font;
    font-size: 2em;
    padding-top: 5em;
    padding-bottom: 1em;
  }
  h2 {
  font-family: $main-font;
  font-size: 1.5em;
  padding-bottom: 2em;
  }
  .radio-add-cloth {
    margin: auto;
  }
  .ant-radio-inner {
    background-color: $main-color;

  }
  .ant-radio-checked .ant-radio-inner {
    border-color: transparent;
  }
  
  .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
    border-color: #d18901;
    background-color: #d18901;
    
  }
  .ant-radio-inner::after {
    background-color: $brownish;
  }
  
  
}
