@import 'src/styles/vars';

#outfitlist {

  h1 {
    font-family: $main-font;
    font-size: 2em;
    padding-top: 5em;
    padding-bottom: 1em;
  }
}
#outfit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  
}
