@import 'src/styles/vars';

#outfitlist {
  h1 {
    font-family: $main-font;
    font-size: 2em;
    padding-top: 5em;
    padding-bottom: 1em;
  }
<<<<<<< HEAD
  //margin: auto;
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-around;
=======
  // margin: auto;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
>>>>>>> c3c63bf496063edeef4e44bd4a8764c004b522a4
  
}
