@import 'src/styles/vars';

#outfitcard {
    position: relative;
    background-color: $brownish;
    margin: auto;
    padding: 1em; 
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    border: 1px solid $brownish;
    justify-content: space-around;
    align-items: center;
    color: $main-color;
    font-family: $main-font;
    font-size: 1.2em;
    margin-bottom: 1em;
    h3 {
      color: $main-color;
    }
  
    #close-button {
      position: absolute;
      right: -15px;
  
    }
    
  }
  
