@import 'src/styles/vars';

.login-form {
  background-image: url('../../data/assets/bckMain.png');
  background-size: 100%;
  height: 60em;

  h1 {
    padding-top: 5em;
    font-family: $main-font;
    font-size: 2em;
  }

  #form {
    background-color: $brownish;
    width: 80%;
    margin-top: 2em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #d18901;
    border-radius: 40px;
  }

  #pseudo {
    padding-top: 2em;
  }
  h2 {
    font-family: $main-font;
    font-size: 1.3em;
    color: #d18901;
  }
  .input-signup {
    width: 70%;
    margin-top: 2em;
  }
  .login-form-button {
    margin: auto;
    background-color: #d18901;
    border-color: $brownish;
    font-family: $main-font;
    font-size: 1em;
    text-decoration: none;
    color: $main-color;
    position: static;
    margin-bottom: 2em;
    margin-top: 2em;

    &:hover {
      background-color: #f9c86b;
      color: $brownish;
    }
  }
  #msg-confirm {
    font-family: $main-font;
    font-size: 1.3em;
  }
}
