@import './src/styles/vars';

#app {
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: $main-color;
  //display: flex;
  //flex-wrap: wrap;
  //flex-direction: column;
}
