@import 'src/styles/vars';

#random {
  background-image: url('../../data/assets/bckMain2.png');
  background-size: 100%;
  height: 55em;
  h1 {
    font-family: $main-font;
    font-size: 2em;
    padding-top: 5em;
    padding-bottom: 1em;
  }
  h2 {
    font-family: $main-font;
    font-size: 1.5em;
    padding-bottom: 1em;
  }
  .random-form {
    width: 75%;
    margin: auto;
    .category-add-cloth {
      margin-bottom: 3em;
    }
  }
  #dice {
    width: 35%;
    padding-bottom: 2em;
  }
  
}
