@import "./src/styles/vars";

$break-small: 790px;

.addcloth {
  background-image: url('../../data/assets/bckMain.png');
  background-size: 100%;
  height: 60em;
  @media screen and (max-height: $break-small) {
    height: 790px;
  }

  #form {
    background-color: #d18901;
    width: 80%;
    margin-top: 2em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #c5c8b3;
    border-radius: 40px;
  }
  
  #msg-confirm {
    font-family: $main-font;
    font-size: 1.3em;
  }
}
.input-add-cloth {
  width: 70%;
}
.category-add-cloth {
  width: 70%;
  margin: auto;
}

#title-formaddcloth {
  font-family: $main-font;
  font-size: 2em;
  padding-top: 5em;
  padding-bottom: 1em;
}
.radio-add-cloth {
  margin-left: 3em;
}
.radio-left {
  margin-right: 3em;
}
.label-add-cloth{
  font-family: $main-font;
  font-size: 1.5em;
}



#button-add-cloth {
    height: 2em;
    margin: 0.5em 1em 0;
    background-color: $brownish;
    border-color: $brownish;
    font-family: $main-font;
    font-size: 2em;
    text-decoration: none;
    color: $main-color;
    position: static;

    &:hover {
      background-color: $mustard;
      color: $brownish;
    }
}

