@import 'src/styles/vars';

#profil {
  background-image: url('../../data/assets/bckMain2.png');
  background-size: 100%;
  padding-top: 10em;
  height: 52em;

  h1 {
    font-family: $main-font;
    font-size: 1.6em;
  }
  p {
    font-family: $main-font;
    color: #d18901;
  }
  .user-counter {
    color: white;
  }
  h2 {
    font-family: $main-font;
  }
  #date {
    padding-bottom: 3em;
  }
  .button {
    height: 2em;
    margin: 0.5em 1em 0;
    background-color: $brownish;
    border-color: $brownish;
    font-family: $main-font;
    font-size: 1em;
    text-decoration: none;
    color: $main-color;
    position: static;
    margin-bottom: 2em;

    &:hover {
      background-color: $mustard;
      color: $brownish;
    }
  }
}
.stats {
  background-color: $brownish;
  width: 70%;
  margin: 2em auto;
  border: 4px solid #d18901;
  border-radius: 40px;
  padding-top: 2em;
}
