@import 'src/styles/vars';

#wardrobe {
  background-image: url('../../data/assets/bckMain.png');
  background-size: 100%;
  h1 {
    font-family: $main-font;
    font-size: 2em;
    padding-top: 5em;
    padding-bottom: 1em;
  }
}
