@import './src/styles/vars';

$sims-resize: 730px;

#notfound {
  background-image: url('../../data/assets/bckMain2.png');
  background-size: 100%;
  height: 45em;
  h1 {
    font-family: $main-font;
    font-size: 3em;
    padding-top: 5em;
  }
  img {
    border: 4px solid #d18901;
    border-radius: 40px; 
    @media screen and (max-width: $sims-resize) {
      width: 20em;
      
      }
  }
}
