@import "./src/styles/vars";

#footer {
  background-color: $brownish;
  padding: 2em 0;

  &-title {
    color: $main-color;
    padding: 1em 0;
    font-size: 1.5em;
  }
}
.icon-footer {
  color: $main-color;
  margin: 1em;
  text-align: right;

}
