#footer {
  background-color: #2b2b28;
  padding: 2em 0;

  &-title {
    color: #ebe2c1;
    padding: 1em 0;
    font-size: 1.5em;
  }
}
.icon {
  color: #ebe2c1;
  margin: 1em;
  text-align: right;

}
