@import "./src/styles/vars";

#footer {
  background-color: #4a858f;
  border-top: 5px solid #c0c3af;
  height: 14em;

  &-title {
    color: $main-color;
    padding: 1em 0;
    font-size: 1.5em;
    font-family: $main-font;
  }
  .icon-footer {
  color: $main-color;
  margin: 1em;
  text-align: right;
  font-size: 2em;

  }
  #legal-mentions {
    display: block;
    color: $main-color;
    font-family: $main-font;
  } 
} 
.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
  margin: auto;
}
.modal-footer {
  font-family: $main-font;
  color: $brownish;
  //margin: auto;
 }
