@import 'src/styles/vars';

nav {
  background-color: $header;
  border-bottom: 5px solid #c5c8b3;
  width: 100%;
}
.nav-title {
  color : $text-link;
  font-family: $main-font; 
  font-size: 1.5em;
}
.nav-item {
  font-family: $main-font;
  font-size: 1.2em;
  margin-left: .5em;
}
.header-link {
  color: $text-link;
  display: inline;
    &:hover {
      color: $text-link-over;
    }
  }
